<div style="width: 400px; margin: auto;">
    <div *ngIf="currentStudent" class="edit-form">
      <h4>Estudiante</h4>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="currentStudent.nombre"
            name="nombre"
          />
        </div>
        <div class="form-group">
          <label for="apellido">Apellidos</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            [(ngModel)]="currentStudent.apellido"
            name="apellido"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Asistio:</strong></label>
          {{ currentStudent.asistio ? "Asistio" : "No asistio" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentStudent.asistio"
        (click)="updateAsistio(false)"
      >
        No asistio
      </button>
      <button
        *ngIf="!currentStudent.published"
        class="badge badge-primary mr-2"
        (click)="updateAsistio(true)"
      >
        Asitio
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteStudent()">
        Eliminar
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateStudent()"
      >
        Actualizar
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentStudent">
      <br />
      <p>No hay acceso a Estudiantes...</p>
    </div>
  </div>
  