<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por nombre de profesor"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchNombre()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Lista de profesores</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let teacher of teachers; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTeacher(teacher, i)"
        >
          {{ teacher.nombre }} {{ teacher.apellido }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTeachers()">
        Eliminar Todos
      </button>
      <a href="addteacher" class="btn btn-sm btn-primary">Agregar Profesor</a>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTeacher">
        <h4>Profesor</h4>
        <div>
          <label><strong>Nombre:</strong></label> {{ currentTeacher.nombre }}
        </div>
        <div>
          <label><strong>Apellidos:</strong></label>
          {{ currentTeacher.apellido }}
        </div>
        <div>
          <label><strong>Estado:</strong></label>
          {{ currentTeacher.activo ? "Activo" : "No activo" }}
        </div>
  
        <a class="badge badge-warning" routerLink="/teachers/{{ currentTeacher.id }}">
          Editar
        </a>
      </div>
  
      <div *ngIf="!currentTeacher">
        <br />
        <p>Por favor hacer click en un Profesor ...</p>
      </div>
    </div>
  </div>
